:root {
	--dark: #2f2a2d;
}

body {
	padding: 0;
	font-family:  sans-serif;
	color: #333;
}

header {
	display: flex;
	padding: 2rem 3rem;
	background-color: var(--dark);
	align-items: center;
	color: #fff;
}

.brand {
	text-decoration: none;
	color: inherit;
	font-size: 2rem;
}

.btn {
	background-color: var(--dark);
	color: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: .5rem 1.5rem;
	transition-property: background-color, border;
	transition-duration: .3s;
	outline: none;
	cursor: pointer;
}
.btn:hover {
	background-color: #fff;
	color: var(--dark);
	border-color: currentColor;
}
.btn_stroke {
	background-color: #fff;
	color: var(--dark);
	border-color: currentColor;
}
.btn_stroke:hover {
	background-color: var(--dark);
	border-color: transparent;
	color: #fff;
}

.btn_light {
	background-color: #fff;
	color: var(--dark);
}
.btn_light:hover {
	background-color: var(--dark);
	color: #fff;
}

.search-input {
	margin: 0 10px;
	margin-left: auto;
	position: relative;
	padding: 5px;
	display: flex;
	justify-content: center;
}
.search-input:before,
.search-input:after {
	content: '';
	position: absolute;
	display: block;
	top: 100%;
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0.3;
	transition: linear .2s;
}
.search-input:after {
	opacity: 1;
	width: 0;
}
.search-control {
	color: inherit;
	background: none;
	border: none;
	outline: none;
	position: relative;
}
.search-input.focused:after,
.search-input:focus-within:after {
	width: 100%;
}

.goods-list {
	display: grid;
	padding: 2rem 4rem;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-gap: 3rem;
	justify-content: center;
}

.goods-item {
	width: 200px;
	border-radius: 5px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,30%);
	overflow: hidden;
}

.goods-item__img {
	max-width: 100%;
	height: auto;
}

.goods-item__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.goods-item__title {
	margin: 0;
}

.goods-item__price {
	margin-top: 10px;
	font-size: 2rem;
}

.goods-item__btn {
	border-radius: 0;
	width: 100%;
	padding: 1rem;
	border-width: 2px;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.cart {
	position: relative;
}

.cart-button {
	position: relative;
}
.cart-list {
	position: absolute;
	min-width: 300px;
	min-height: 50px;
	right: 0;
	top: 100%;
	margin-top: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
	background-color: #fff;
	color: #000;
}

.cart-list.invisible {
	display: none;
}

.cart-list:before {
	content: '';
	position: absolute;
	bottom: 100%;
	right: 3rem;
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}

.cart-list__header {
	display: block;
	padding: 20px;
	border-bottom: 1px solid #333;
}
.cart-list__header:empty {
	display: none;
}

.cart-list__content {
	padding: 20px;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
.cart-list__content:empty {
	display: flex;
	align-items: center;
	justify-content: center;
}
.cart-list__content:empty::after{
	content:'Ваша корзина пуста';
	text-align: center;
	color: var(--dark);
	opacity: 0.8;
}

.cart-list__footer {
	display: block;
	padding: 20px;
	border-top: 1px solid #333;
}
.cart-list__footer:empty {
	display: none;
}


.cart-list__total {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	font-size: 2rem;
}

.cart-list__order-button {
	display: block;
	width: 100%;
	border-radius: 0;
	color: hsl(20, 60%, 50%, 100%);
	padding: 1rem;
}
.cart-list__order-button:hover {
	background-color: hsl(20, 60%, 50%, 100%);
}

.cart-item {
	min-width: 300px;
	display: flex;
}
.cart-item:nth-child(n+2) {
	margin-top: 20px;
}

.cart-item__block {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: .5rem;
}

.cart-item__block:last-child {
	flex-grow: 0;
	align-items: flex-end;
	justify-content: space-between;
}

.cart-item__title {
	font-size: 1.2rem;
	margin: 0;
}

.cart-item__quantity {
	font-size: 0.7rem;
}

.cart-item__price {
	font-size: 1.5rem;
}

.cart-item__btn {
	font-size: 1rem;
}
