.vs/slnx.sqlite
.vs/ProjectSettings.json
.idea/

01 - project/02-project/node_modules
01 - project/04-project/node_modules
01 - project/08-project-vue/node_modules
01 - project/06-project-webpack
.vs/js-gb-second-18.09/v16/.suo
.vs/VSWorkspaceState.json
js-gb-second-18.09.zip
.vscode/settings.json
01 - project/07-project.zip
