body {
    margin: 0;
    height: 100vh;
    background: skyblue;
    background: radial-gradient(circle, skyblue, steelblue);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item {
    width: 200px;
    padding: 1em;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 150px;
    height: 200px;
    border: 1px solid;
}

.buttons {
    margin: 1em;
    width: 100vw;
    text-align: center;
}

#content {
    width: 100vw;
    text-align: center;
}

table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    padding: .6em;
}